body {
  
  background-color: #E7473C;
  .section {
    height:100vh;
    display: flex;
    margin-left:40%;
    
    .left-section__wrapper {
      background-color:white;
      float:left;
      height:100%;
      position: fixed;
      top:0;
      bottom:0;
      left:0;
      width:40%;
      
      .left-section {
        padding:60px;
        padding-bottom:0;
        height:100%;
        color:#E7473C;
        
        .left-section__title {
          font-size:80px;
          padding-bottom:80px;
          
        }
        .left-section__subtitle {
          font-size:24px;
          padding-bottom:30px;
          width:80%;
  
        }
        .left-section__paragraph {
          font-size:18px;
          width:70%;
  
        }
      }
    }
    .right-section__wrapper {
      
      height:100%;
      
      .right-section {
        
        .right-section__header {
          padding:60px;
          color:white;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size:22px;
          text-align: center;
          position:fixed;
          border-bottom:1px solid rgba(0, 0, 0, 0.2);
          z-index: 9999;
          background-color: #E7473C;
          

        }
        .right-section__body {
          padding-top:170px;
          
          .content {
            padding:70px;
            background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.1) 10%,
        transparent,
        transparent,
        transparent,
        transparent
      );
  
            
            .content__header {
              display:flex;
              align-items: center;
              color:white;
              justify-content: space-between;

              .content__header-title-wrapper {
                display: flex;
                align-items: center;
                .content__header-num {
                  padding:4px 10px;
                  font-size:18px;
                  border-radius: 10px;
                  background-color: red;
                  margin-right:14px;
                  
                }
                .content__header-title {
                  font-size:30px;
                
                }
              }
              .content__header-info {
                text-align:right;

              }
            }
            .content__img-wrapper {
              margin-top:20px;
              position: relative;
              img {
                width:100%;
                height:300px;
                background-repeat: no-repeat;
                background-position: center center;
                background-size: cover; 
                box-shadow: 0 80px 80px -80px #000, 0 0 12px rgba(0, 0, 0, 0.06),
        inset 0 0 0 1px rgba(0, 0, 0, 0.2);

              }
              .content__img-btns {
                position: absolute;
                width:40px;
                height:100px;
                background-color:red;
                top:0;
                right:-40px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-evenly;
                color:white;

                .img-btn {

                }
              }
            }
            .content__body {
              margin-top:24px;
              color:white;
              font-size:18px;
              line-height:26px;

            }
            .content__footer {
              display:flex;
              align-items: center;
              justify-content: space-between;
              color:white;
              margin-top:24px;
              
              span:last-child {
                color:black;
                opacity: 0.6;
              }

            }
          }
        }
      }
    } 
  }
}